<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'wiki_books', :plugin => 'redmine_wiki_books' %>
<% end %>

<div class="contextual">
  <%= link_to_if_authorized l(:button_edit), {:controller => 'book_chapters', :action => 'edit', :id => @book_chapter}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
  <%= link_to_if_authorized l(:button_delete), {:controller => 'book_chapters', :action => 'destroy', :id => @book_chapter}, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
</div>


<div class="main">
  <% if @book_chapter_prev 
    if @book_chapter_prev.wiki_page.nil?
      wiki_prev_text=@book_chapter_prev.wiki_page_title
    else
      wiki_prev_text=@book_chapter_prev.wiki_page.pretty_title
    end
  %>
    <h4 align="right"><%= l(:label_book_chapter_prev) %>: <%= link_to_if_authorized(h(wiki_prev_text), {:controller => 'book_chapters', :action => 'show', :project_id => @book.project, :id => @book_chapter_prev.id}) || h(@book_chapter_prev.wiki_page_title) unless @book_chapter_prev.wiki_page_title.blank? || @book.project.wiki.nil? %></h4>
  <% end %>
  <h2><%=l(:label_book_chapter)%> <%=  @book_chapter.chapter_numbering %> <%=l(:label_from_book)%> '<%= @book.title%>' </h2>
  <%if @book_chapter.wiki_page.nil? 
    auxAction='edit'
  %>
    <%= link_label_to_if_authorized(l(:label_wiki_does_not_exist),h(@book_chapter.wiki_page_title), l(:label_book_chapter_not_written_yet), {:controller => 'wiki', :action => 'edit', :project_id => @book.project, :id => Wiki.titleize(@book_chapter.wiki_page_title)}) %>
  <% else 
    auxAction='show'
  %>
    <div class="wiki">
      <div class="book">
        <%=  textilizable @book_chapter.wiki_page.text %>
      </div>
    </div>
  <% end %>

  <% if @book_chapter_next 
    if @book_chapter_next.wiki_page.nil?
      wiki_next_text=@book_chapter_next.wiki_page_title
    else
      wiki_next_text=@book_chapter_next.wiki_page.pretty_title
    end  %>
    <h4 align="right"><%=  l(:label_book_chapter_next) %> <%= link_to_if_authorized(h(wiki_next_text), {:controller => 'book_chapters', :action => 'show', :project_id => @book.project, :id => @book_chapter_next.id}) || h(@book_chapter_next.wiki_page_title) unless @book_chapter_next.wiki_page_title.blank? || @book.project.wiki.nil? %></h4>
  <% else %>
    <h4 align="right"><%=  l(:label_book_chapter_end) %></h4>  
  <% end %>
</div>
<% if !@book_chapter.wiki_page.nil?  %>
  <h5><%= link_label_to_if_authorized(l(:label_view_wikibook_page_in_wiki)+": ",h(@book_chapter.wiki_page_title),"", {:controller => 'wiki', :action => 'show', :project_id => @book.project, :id => Wiki.titleize(@book_chapter.wiki_page_title)}) || h(@book_chapter.wiki_page_title) unless @book_chapter.wiki_page_title.blank? || @book.project.wiki.nil? %></h5>
<% end %>
<% content_for :sidebar do %>

  <div class="contextual">
    <%= link_to_if_authorized l(:button_edit), {:controller => 'books', :action => 'edit', :id => @book}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
    <%= link_to_if_authorized l(:button_delete), {:controller => 'books', :action => 'destroy', :id => @book}, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
  </div>


  <h2><%=h @book.title %></h2>
  <%= link_to_if_authorized l(:label_show_book), {:controller => 'books', :action => 'show', :id => @book} %>

  <p><em>
      <%= format_date @book.created_on %></em></p>
  <div class="wiki">
    <%= textilizable @book.description, :book_chapters => @book.book_chapters %>
  </div>

  <h3><%= l(:label_book_chapter_plural) %></h3>
  <%= link_to_book_chapters @book %>

  <% if authorize_for('books', 'add_book_chapter') %>
    <p><%= link_to l(:label_book_chapter_new), {}, :onclick => "Element.show('add_book_chapter_form'); Element.hide(this); Element.scrollTo('add_book_chapter_form'); return false;",
        :id => 'add_book_chapter_link' %></p>
    <% form_tag({ :controller => 'books', :action => 'add_book_chapter', :id => @book }, :id => "add_book_chapter_form", :style => "display:none;") do %>
      <div class="box">
        <p><%= render :partial => 'book_chapters/form' %></p>
      </div>
      <%= submit_tag l(:button_add) %>
    <% end %> 
  <% end %>

  <% html_title @book.title -%>

  <% content_for :header_tags do %>
    <%= stylesheet_link_tag 'scm' %>
  <% end %>


<% end %>