<%= error_messages_for 'book' %>
pp
<div class="box">
<!--[form:book]-->
<p><label for="book_title"><%=l(:field_title)%> <span class="required">*</span></label>
<%= text_field 'book', 'title', :size => 60 %></p>

<p><label for="book_description"><%=l(:field_description)%></label>
<%= text_area 'book', 'description', :cols => 60, :rows => 15, :class => 'wiki-edit' %></p>
<!--[eoform:book]-->
</div>

<%= wikitoolbar_for 'book_description' %>
