<div class="contextual">

<script type="text/javascript">

$(document).ready(function(){
    $("#add_book_link").click(function(event){
        event.preventDefault();
        $(this).hide();
        $("#add-book").show();
    });
});

</script>
  
<%= link_to_if_authorized l(:label_book_new),
                          {:controller => 'books', :action => 'new', :project_id => @project},
                          :class => 'icon icon-add',:id => 'add_book_link'
                        #,:onclick => "Element.show('add-book'); Form.Element.focus('book_title'); return false;".html_safe
                        %>
</div>
<div id="add-book" style="display:none;">

  <h2><%=l(:label_book_new)%></h2>
<%= form_tag({:controller => 'books', :action => 'new', :project_id => @project}, :class => "tabular", :multipart => true) do %>
<%= render :partial => 'books/form' %>
<%= submit_tag l(:button_create) %>
<%= link_to l(:button_cancel), "#", :onclick => "Element.hide('add-book')".html_safe %>
<% end %>
</div>

<h2><%=l(:label_book_plural)%></h2>
<% html_title(l(:label_book_plural)) -%>

<% if @grouped.empty? %><p class="nodata"><%= l(:label_no_data) %></p><% end %>

<% @grouped.keys.sort.each do |group| %>
    <h3><%= group %></h3>
    <%= render :partial => 'books/book', :collection => @grouped[group] %>
<% end %>

